/*body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 60px;
} */

.product-card {
    text-align: center;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.imgproduct img{
    width: 180px;
    height: 180px;
    margin-top: 10%;
}

.description{
    height: 180px;
}

.product-card .description h3 {
    font-size: 1.25rem;
    text-align: center;
    margin: 40px 0;
    color: rgb(206, 204, 204);
}

.category {
    color: darkgrey;
}

.details {
    background-image: linear-gradient(to bottom right, #ff0095, #00DFF0);
    border: none;
    font-weight: 700;
    color: rgb(255, 255, 255);
    position: relative;
    margin-bottom: 2%;
    padding: 10px 20px;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .product-card {
        max-width: 100%;
    }

    .imgproduct {
        margin-top: 0;
    }

    .productItem {
        height: auto;
    }

    .catprice {
        flex-direction: row;
        align-items: center;
        margin: 5%;
        margin-top: -6%;
    }

    .imgproduct {
        height: auto;
        justify-content: center;
        margin-left: -33px;
    }}