.footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 50px 0;
    height: 300px;
    width: 100%;
    padding: 3rem;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin: 0 20px;
  }
  
  .footer-section .footerTitle {
    color: #F0008E;
    text-align: start;
    margin-bottom: 2rem;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
.contctInfo{
  color: white;
}