@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Parisienne&display=swap');

*{
	font-family: "Orbitron", sans-serif;
}

* {
	/* padding: 0;
	margin: 0; */
  box-sizing: border-box;
} 

body{
    background-color: #060017;

}

/* :root {
  --mainColor: #0f0f0f;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
  font-family: "Titillium Web", sans-serif;
} */

 /* este selector es una prueba*/

.prueba{
	background-color: red;
	margin-top: 200px;
}

.prueba2{
	background-color: red;
	margin-top: 200px;
}

